input[type='checkbox'] {
  height: 20px;
  width: 20px;
  margin-top: 0;
}

.tasks-list {
  padding: 30px;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-header > .filters {
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: 30%;
  align-content: flex-end;
}

.list-header > .filters > input[type='checkbox'] {
  margin: 0 30px 0 16px;
  min-width: 20px;
}

.filters > .form-control {
  margin: 0 32px 0 16px;
}

.cell {
  height: 30px;
  display: flex;
  align-items: center;
}

.loader {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
